* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FAFAFA;;
    font-family: system-ui, sans-serif;
    color: #1F2937;;
}

main {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    position: relative;
    overflow: hidden;
}

main>section {
    position: absolute;
    inset: 0;
    z-index: -1;
}

main>section span {
    position: absolute;
    border-radius: 50%;
    filter: blur(80px);
    opacity: 0.15;
}

main>section span:first-child {
    width: 300px;
    height: 300px;
    background: #6366F1;
    top: 10%;
    left: 5%;
}

main>section span:last-child {
    width: 400px;
    height: 400px;
    background: #A78BFA;;
    bottom: 10%;
    right: 5%;
}


article {
    background: rgba(255, 255, 255, 0.95);
    backdrop-filter: blur(10px);
    width: 100%;
    max-width: 400px;
    padding: 40px;
    border-radius: 24px;
    border: 2px solid rgba(167, 139, 250, 0.2);
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    margin-bottom: 32px;
}

header figure {
    display: inline-flex;
    background: linear-gradient(135deg, #6366F1, #A78BFA);
    padding: 16px;
    border-radius: 16px;
    margin-bottom: 16px;
}

header h1 {
    font-size: 32px;
    background: linear-gradient(to right, #6366F1, #A78BFA);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    margin-bottom: 8px;
}

header p {
    color: #6B7280;
    font-size: 14px;
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: rgba(167, 139, 250, 0.1);
    padding: 5px;
    border-radius: 12px;
    margin-bottom: 32px;
}

nav button {
    border: none;
    padding: 10px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    background: transparent;
    color: #6B7280;
    transition: 0.3s;
}

nav button:first-child {
    background: linear-gradient(to right, #6366F1, #A78BFA);
    color: white;
}

form {

    display: flex;
    flex-direction: column;
    gap: 20px;
}

form section {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

form section p {
    font-size: 14px;
    font-weight: 600;
    padding-left: 4px;
    text-align: left;
}

form input {
    padding: 12px 16px;
    border-radius: 12px;
    border: 2px solid rgba(167, 139, 250, 0.2);
    font-size: 16px;
}

form input:focus {
    outline: none;
    border-color: #6366F1;
}

form p {
    text-align: right;
}

form a {
    font-size: 12px;
    color: #7476f2;
    text-decoration: none;
}
button {
    padding: 14px;
    border: none;
    border-radius: 12px;
    background: linear-gradient(to right, #6868f2, #9f86f9);
    color: white;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.2s;
}

footer {
    margin-top: 32px;
    text-align: center;
}

footer p {
    font-size: 12px;
    color: rgb(128, 134, 145);
}

footer a {
    color: inherit;
}

/* hecho por: Alfred Vieira */